html {
	height:100%; 
	max-height:100%;
	padding:0; 
	margin:0; 
	border:0; 
	background:#EEEEFF; 
	font-family:"calibri", "trebuchet ms", "trebuchet", "verdana", sans-serif;
}
body {
	padding:0; 
	margin:8; 
	border:0;
	min-width:800px;
	font-size:11pt;
	behavior: url("csshover3.htc");
	
}

textarea {
	font-family:"calibri", "trebuchet ms", "trebuchet", "verdana", sans-serif;
	font-size:11pt;
}

input {
	font-family:"calibri", "trebuchet ms", "trebuchet", "verdana", sans-serif;
	font-size:11pt;
}

#content {
	position: absolute; 
	overflow:auto; 
	top:100px; 
	left:0; 
	right:0; 
	background:#fff;
	padding-left: 10px; 
	padding-right: 10px;
  	text-align: left;
}

#plaincontent { 
	overflow:auto; 
	left:8; 
	right:8; 
	background:#EEEEFF;
  	text-align: left;
}



div#header {
	height:100px;
	width:100%;
	margin:0 auto;
	z-index:1;
	background:#EEF1F9;
	color:black;
	font-size:8pt;
}



div#footer {
	padding:0px;
	height:20px;
	width:100%;
	margin:0 auto;
	overflow:hidden;
	background:#EEEEFF;
	color:black;
	z-index:1;
	font-size:8pt;
}

div#note {
	color:black;
	font-size:8pt;
	text-align:left;
}


.menu {padding:4px 0 0 1em; margin:0; list-style:none; height:40px; position:relative; background:transparent url(pro_five_0c.gif) repeat-x left bottom; font-size:11px;}
.menu li {float:right; height:40px; margin-right:1px;}
.menu li a {display:block; float:left; height:40px; line-height:35px; color:#333; text-decoration:none; font-family:arial, verdana, sans-serif; font-weight:bold; text-align:center; padding:0 0 0 4px; cursor:pointer; background:url(pro_five_0a.gif) no-repeat;}
.menu li a b {float:left; display:block; padding:0 16px 5px 12px; background:url(pro_five_0b.gif) no-repeat right top;}
.menu li.current a {color:#000; background:url(pro_five_2a.gif) no-repeat;}
.menu li.current a b {background:url(pro_five_2b.gif) no-repeat right top;}
.menu li a:hover {color:#000; background: url(pro_five_1a.gif) no-repeat;}
.menu li a:hover b {background:url(pro_five_1b.gif) no-repeat right top;}
.menu li.current a:hover {color:#000; background: url(pro_five_2a.gif) no-repeat; cursor:default;}
.menu li.current a:hover b {background:url(pro_five_2b.gif) no-repeat right top;}

/* Styling rules to make this demo page look nice. */

a:link {color:black;}
a:visited {color: black}
a:hover {color:blue;}



div #footer p {
	margin:0;
	padding:0;
	text-align:center;
}

h1 {
	font-size:1.4em;
	text-align:center;
	padding-top:5px;
}
h2 {
	font-size:1.2em;
	padding-top:1em;
	margin-top:0;
}
p a {
	margin-bottom:0;
	line-height:1.4em;
}
pre {
	line-height:1.4em;
}
ul {
	line-height:1.4em;
}


#content li {
  	list-style-image: url(../images/blueball.gif);
}

#content table tr td {
  	font-family:"Trebuchet MS", Georgia, Verdana, serif;
  	font-size: 11pt;
  	border-spacing: 0px;
  	border-collapse: collapse;
}
  
#content p a {
  	font-family:"Trebuchet MS", Georgia, Verdana, serif;
  	font-size: 11pt;  
}

.list table {
  	border-collapse: collapse;
  }

.list * caption {
  	background: #EEF1F9;
  	border: 0;
  	font-family:"Trebuchet MS", Georgia, Verdana, serif;
	font-size: 11pt;
}

.list * thead th {
  	font-weight: bold;
  	border: 1px dotted silver;
  	padding-right: 1em;
}

.list * td{
  	border: 1px dotted silver;
  	padding-right: 1em;
  	font-size: 11pt;
  	align: center;
  	vertical-align: middle;
}

form {
	display:inline;
}

.suggestionsBox {
		position: absolute;
		left: 30px;
		margin: 10px 0px 0px 0px;
		width: 400px;
		background-color: #212427;
		-moz-border-radius: 7px;
		-webkit-border-radius: 7px;
		border: 2px solid #000;
		color: #fff;
		z-order: 2;
	}

	.suggestionList {
		margin: 0px;
		padding: 0px;
	}

	.suggestionList li {

		margin: 0px 0px 3px 0px;
		padding: 3px;
		cursor: pointer;
	}

	.suggestionList li:hover {
		background-color: #659CD8;
	}

th.menubutton {
	border-style: outset;
	border-width: 1px;
	border-color: #CCCCCC;
	color: black;
	background-color: #F3F3EE;
	-moz-border-radius: 5px;
	padding: 1px 4px 1px 4px;
	line-height: 1.4em;
}
th.menubutton:hover {
	cursor: hand;
	color: white;
	background-color: #3366FF;
}
th.mymenubutton {
	border-style: inset;
	border-width: 1px;
	border-color: #CCCCCC;
	color: white;
	background-color: #3300CC;
	-moz-border-radius: 5px;
	padding: 1px 4px 1px 4px;
	line-height: 1.4em;
}