html {
	height:100%; 
	max-height:100%;
	padding:0; 
	margin:0; 
	border:0; 
	background:#EEEEFF;
	font-family:"calibri", "trebuchet ms", "trebuchet", "verdana", sans-serif;
}
body {
	padding:0; 
	margin:8; 
	border:0;
	min-width:800px;
	font-size:11pt;
	behavior: url("csshover3.htc");
	
}

textarea {
	font-family:"calibri", "trebuchet ms", "trebuchet", "verdana", sans-serif;
	font-size:11pt;
}


table {table-layout: fixed;}






div #footer p {
	margin:0;
	padding:0;
	text-align:center;
}



th.depressed {
	border-style: inset;
	border-width: 1px;
	border-color: #CCCCCC;
	color: white;
	background-color: #339933;
	-moz-border-radius: 5px;
	padding: 1px 4px 1px 4px;
	line-height: 1.4em;
}
th.raised {
	border-style: outset;
	border-width: 1px;
	border-color: #CCCCCC;
	color: black;
	background-color: #F3F3EE;
	-moz-border-radius: 5px;
	padding: 1px 4px 1px 4px;
	line-height: 1.4em;
}
th.holddepressed {
	border-style: inset;
	border-width: 1px;
	border-color: #CCCCCC;
	color: white;
	background-color: red;
	-moz-border-radius: 5px;
	padding: 1px 4px 1px 4px;
	line-height: 1.4em;
}
th.primedepressed {
	border-style: inset;
	border-width: 1px;
	border-color: #CCCCCC;
	color: white;
	background-color: #33FF33;
	-moz-border-radius: 5px;
	padding: 1px 4px 1px 4px;
	line-height: 1.4em;
}
th.unused {
	border-style: outset;
	border-width: 1px;
	border-color: #CCCCCC;
	color: black;
	background-color: #F3F3EE;
	-moz-border-radius: 5px;
	padding: 1px 4px 1px 4px;
	line-height: 1.4em;
}
th.raised:hover {
	color: black;
	cursor: hand;
	background-color: #FFFF00;
}

td.depressed {
	border-style: inset;
	border-width: 1px;
	border-color: #CCCCCC;
	color: black;
	background-color: #33FF33;
	-moz-border-radius: 5px;
	padding: 1px 4px 1px 4px;
	line-height: 1.4em;
}
td.raised {
	border-style: outset;
	height: 50px;
	border-width: 1px;
	border-color: #CCCCCC;
	color: black;
	background-color: #F3F3EE;
	-moz-border-radius: 5px;
	padding: 1px 4px 1px 4px;
	line-height: 1.4em;
}
td.unused {
	border-style: outset;
	border-width: 1px;
	border-color: #CCCCCC;
	color: black;
	background-color: #F3F3EE;
	-moz-border-radius: 5px;
	padding: 1px 4px 1px 4px;
	line-height: 1.4em;
}

td.raised:hover {
	cursor: hand;
	color: black;
	background-color: #FFFF00;
}

th.menubutton {
	border-style: outset;
	border-width: 1px;
	border-color: #CCCCCC;
	color: black;
	background-color: #F3F3EE;
	-moz-border-radius: 5px;
	padding: 1px 4px 1px 4px;
	line-height: 1.4em;
}
th.menubutton:hover {
	cursor: hand;
	color: white;
	background-color: #3366FF;
}
th.mymenubutton {
	border-style: inset;
	border-width: 1px;
	border-color: #CCCCCC;
	color: white;
	background-color: #3300CC;
	-moz-border-radius: 5px;
	padding: 1px 4px 1px 4px;
	line-height: 1.4em;
}
